
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(201, 131, 220), rgb(0, 4, 255));  

}

.container {
    position: relative;
    max-width:  430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}



.container .form {
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: blueviolet;
    border-radius: 25px;
}

.form .input-field{
    margin-top: 30px;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}

.input-field i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;

}

.content input{
    margin: 0 8px -2px 4px;
}

.form .text{
    color: #333;
}

.form .button{
    margin-top: 35px;
}

.login_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login{
    border: none;
    margin-bottom: 3px;
    padding: 6px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: rebeccapurple;
    cursor: pointer;
}

.login_signup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* Registration page */

#warning {
    color: red;
}

p {
    font-size: x-small;
}

/* Dashboard */

.body_dashboard {
    background-image: linear-gradient(to right, rgb(201, 131, 220), rgb(0, 4, 255));  
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left_logo{
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    max-width:  330px;
    padding: 4px;
    width: 50%;
    background: rgb(255, 255, 255);
    border-radius: 13px;
    box-shadow: 0 5px 10px rgba(0, 0, 1, 1);
}

.logo {
    font-size: 250%;
}

.right_links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#link_text {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.welcome {
    margin-top: 10px;
}

.welcome-text {
    font-size: small;
}


/* Create post */

.body_create {
    background-image: linear-gradient(to right, rgb(201, 131, 220), rgb(0, 4, 255));  
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: fit-content;
    padding: 8px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    flex-direction: column;
}

#display-image{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}

.create_button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* edit post */

#container {
    position: relative;
    max-width:  430px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: end;
    font-size: small;
}

.edit {
    margin-right: 5px;
}

/* picture */

/* .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 72px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
display: flex;
top: 167px;
right: 30px;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
font-size: 1.2em;
}

.upload-button:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
color: #999;
} */


.profile_body{
    background-image: linear-gradient(to right, rgb(201, 131, 220), rgb(0, 4, 255));  
}

